header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: rgb(21, 87, 153);
    
}
header h1{
    display: flex;
    color: #FFFFFF;
    margin-left: 4%;
}
header a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 110px;
    background-color: rgb(223, 220, 225);
    border: none;
    border-radius: 30px;
    text-decoration: none;
    color: rgb(61, 61, 61);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#btns{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 4%;
}